<h1 style="font-family: sans-serif">new techcrunch</h1>

<strong><%= link_to 'Submit an article', new_article_path %></strong>

<br>
<% @articles.reverse_each do |article| %>
  <h3 style="font-family: sans-serif"><%= article.article_title %></h3> 
  <p style="font-family: sans-serif"><%= article.article_body %> </p>
<% end %>  