<h1>all articles</h1>

<p>
Article title: <br />
<%= @article.article_title %>
</p>

<p>
Article body:<br />
<%= @article.article_body %>
</p>

<h2 style="font-family: sans-serif">previous articles</h1>

<% @articles.each do |article| %>
  <h3 style="font-family: sans-serif"><%= article.article_title %></h3> 
  <p style="font-family: sans-serif"><%= article.article_body %> </p>
<% end %>  